<!DOCTYPE html>
<html>
<head>
    <title></title>

    <!-- inject:js -->
    <script src='../components/angular/angular.js?v=2579'></script>
    <script src='../components/angular-ui-router/release/angular-ui-router.js?v=2825'></script>
    <script src='../src/js/youtube/services/youtube.services.module.js?v=9036'></script>
    <script src='../src/js/youtube/directives/youtube.directives.module.js?v=9001'></script>
    <script src='../src/js/youtube/controllers/youtube.controllers.module.js?v=3861'></script>
    <script src='../src/js/app.module.js?v=5957'></script>
    <script src='../src/js/youtube/youtube.module.js?v=5115'></script>
    <script src='../src/js/app.module.configuration.js?v=4131'></script>
    <script src='../src/js/youtube/directives/youtube.drv.js?v=8796'></script>
    <script src='../src/js/youtube/controllers/Youtube.ctrl.js?v=4973'></script>
    <script src='../src/js/angular.bootstrap.js?v=8036'></script>
    <!-- endinject -->

    <!-- inject:css -->
    <link rel='stylesheet' href='../components/bootstrap/dist/css/bootstrap.css?v=5464'>
    <!-- endinject -->


</head>
<body>
<div ng-controller="YouTubeController as YtCtrl">

    <youtube width="{{YtCtrl.yt.width}}" height="{{YtCtrl.yt.height}}" videoid="{{YtCtrl.yt.videoid}}" autoplay="{{YtCtrl.yt.autoplay}}"></youtube>
    <br/>

    <button ng-click="YtCtrl.sendControlEvent(YtCtrl.YT_events.PLAY)">Send Play</button>
    <button ng-click="YtCtrl.sendControlEvent(YtCtrl.YT_events.PAUSE)">Send Pause</button>
    <button ng-click="YtCtrl.sendControlEvent(YtCtrl.YT_events.STOP)">Send Stop</button>

</div>

</body>
</html>